.slider {
	max-width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.slider-line {
	display: flex;
	background-color: rgb(243, 146, 146);
	transition: all ease 1s;
}
.slider-button {
	display: flex;
	justify-content: center;
}
.btn {
	margin: 5px 20px;
	width: 30px;
}
.btn:hover {
	cursor: pointer;
}
